﻿
@{
    ViewBag.Title = "Index";
}

<div id="tableContainer">
    @{
        Html.RenderAction("ProductTable");
        //Html.RenderAction("Create");
    }
</div>

<div id="actionContainer">
    
</div>