﻿@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post">
        <input id="searchTxt" name="Search"/>
        <button id="searchBtn" type="button">Search</button>
    </form>
    <button id="newBtn" type="button">New</button>
</div>
<div>
    <table>
        <thead>
        <tr>
            <td>Product Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>-</td>
                <td>@product.Price</td>
                <td>
                    <button class="editBtn" data-id="@product.ID">Edit</button>
                    <button class="deleteBtn" data-id="@product.ID">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            type: "GET",
            url: '/Product/ProductTable',
            data: {
                search : searchValue
            }
        })
        .done(function (response) {
            $("#tableContainer").html(response);
            })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
        .done(function (response) {
            $("#actionContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $(".editBtn").click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID:$(this).attr('data-id')
            }
        })
        .done(function (response) {
            $("#actionContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("Are you sure you want to delete this product");
        if (confirmDelete) {
            $.ajax({
                type:'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
        .done(function (response) {
            $("#tableContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
        }
    });
      
</script>

